<div class="container">
  <h1>Bem vindo ao jogo!</h1>

  <span>
    Para iniciar um jogo clique em <a class="navbar-item" (click)="SendTo('player')">Iniciar Jogo</a>.
  </span>

  <br>
  <br>

  <span>
    Para ver a pontuação dos jogadores clique em <a class="navbar-item" (click)="SendTo('ranking')">Ranking</a>.
  </span>

  <br>
  <br>

  <span>
    Para saber mais sobre as regras do jogo clique em <a class="navbar-item" (click)="SendTo('rules')">Regras do jogo</a>.
  </span>
</div>
