.container{
  margin-top: 2rem;

  text-align: center;
}

.ranking{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 1rem;
  margin-bottom: 0.5rem;

  border: 1px solid grey;

  background-color: beige;
}

.ranking:nth-child(2){
  background-color: gold;
}

.ranking:nth-child(3){
  background-color: silver;
}

.ranking:nth-child(4){
  background-color: burlywood;
}
