<div class="container">
  <h1>Ranking</h1>
  <div class="ranking" *ngFor="let item of ranking">
    <span>
      {{ranking.indexOf(item)+1}}º
    </span>

    <span>
      Player: {{item.player}}
    </span>

    <span>
      Data: {{item.date}}
    </span>

    <span>
      Pontuação: {{item.score}}
    </span>
  </div>
</div>
