<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span href="#" class="navbar-brand">FPF Tech Game</span>

  <div class="menu">
    <a class="navbar-item" (click)="SendTo('home')">Home</a>
    <a class="navbar-item" (click)="SendTo('player')">Iniciar Jogo</a>
    <a class="navbar-item" (click)="SendTo('ranking')">Ranking</a>
    <a class="navbar-item" (click)="SendTo('rules')">Regras do jogo</a>
  </div>
</nav>
