<div class="container">
  <span>Para inicar o jogo insira o seu nome:</span>

  <div class="input-name">
    <input type="text" #player>
    <button class="btn btn-success" (click)="InitGame(player.value)">OK</button>
  </div>
</div>
