<div class="life">
  <span>{{name}}</span>
  <div class="number">
    <div class="fill" [ngStyle]="applyStyle()">
      <div class="text">
        <span>{{life}}%</span>
      </div>
    </div>
  </div>
</div>
