<div class="container">
  <h2>Estrutura básica</h2>
  <ul>
    <li>O jogo ocorre em turnos</li>
    <li>Jogador e Monstro Possuem um total de 100 pontos de vida.</li>
  </ul>

  <h2>Ações</h2>
  <h5>Jogador</h5>
  <span>O jogador possui 4 opções de ações dentro do jogo.</span>

  <ol>
    <li>
      <button class="btn btn-primary">Ataque</button> Esse botão dá a oportunidade de atacar o monstro com um dano entre 5 e 10.
    </li>

    <li>
      <button class="btn btn-success">Ataque Especial</button> Esse botão dá a oportunidade de atacar o monstro com um dano entre 10 e 20.<br/>
      Esse botão é ativo a cada 2 turnos.<br/>
      Ao selecionar um ataque especial há 50% de chance de atordoar o Monstro, caso seja atordoado o Monstro não ataca no próximo.
    </li>

    <li>
      <button class="btn btn-warning">Curar</button> Esse botão dá a oportunidade ao jogador de recuperar 10 pontos de vida.<br/>A quantidade máxima de vida no jogo são 100 pontos.
    </li>

    <li>
      <button class="btn btn-danger">Desistir</button> ao pressionar esse botão a partida será finalizada apresentando a desistência do jogador.
    </li>
  </ol>

  <h5>Monstro</h5>
  <span>O monstro possui duas ações dentro do jogo, que ocorrem automaticamente.</span>

  <ol>
    <li>Ataque: Monstro realiza um ataque que pode tirar causar um dano entre 6 e 12 no jogador.</li>
    <li>
      Ataque Especial: Monstro realiza um ataque que pode tirar causar um dano entre 8 e 16 no jogador.<br/>
      Esse ataque ocorre automaticamente a cada 3 turnos.
    </li>
  </ol>

  <h2>Fim do jogo</h2>
  <span>
    Caso o jogador consiga finalizar a vida do monstro ele será considerado o vencedor da partida e aus pontuação será adicionada ao ranking.<br/>
    A pontuação consiste em: (Pontos de vida restantes do jogador * 1000) / Número de turnos jogados.
  </span>


</div>
