.container{
  margin-top: 2rem;
}

.status{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.options{
  margin-top: 2rem;

  text-align: center;
}

.buttons button{
  margin-top: 1rem;
  margin-left: 2rem;
}

.log-container{
  margin-top: 2rem;
  text-align: center;

  height: 30rem;

  overflow-y: auto;
}

.log{
  display: flex;

  margin-top: 1rem;
  margin-bottom: 0.5rem;

  border: 1px solid grey;
}

.log + .log{
  margin-bottom: 0.5rem;
}
