<div class="container">
  <div class="status">
    <app-life-bar [name]=(player) [life]=(life_player)></app-life-bar>
    <app-life-bar [name]='"Monstro"' [life]=(life_monster)></app-life-bar>
  </div>

  <div class="options">
    <span>Comandos</span>

    <div class="buttons">
      <button class="btn btn-primary" (click)="BasicAttack(); MonsterAttack()" [disabled]='!turn'>Ataque</button>
      <button class="btn btn-success" (click)="SpecialAttack()" [disabled]='!turn || special_player <= 2'>Ataque Especial</button>
      <button class="btn btn-warning" (click)="Heal(); MonsterAttack()" [disabled]='!turn || life_player >= 100' >Curar</button>
      <button class="btn btn-danger" (click)="GiveUp()">Desistir</button>
    </div>
  </div>

  <div class="log-container">
    <span>Log</span>
    <div class="log" [ngStyle]="ApplyStyle(item.type)" *ngFor="let item of log" >
      <span>{{item.message}}</span>
    </div>
  </div>

</div>
